.app {
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
    padding: 12rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.sidebar {
  flex: 1 1 0;
	width: 250px;
  height: 70vh; 
	padding: 1rem 1rem;
	background: rgba(225, 225, 225, 0.1);
  box-shadow: 0 0 6px rgba(225, 225, 225, 0.5);
  margin-right: 1rem;
} 

.menuitem {
  display: flex;
	padding: 1.3em;
	color: rgba(204, 194, 194, 0.904);
	text-decoration: none;
	transition: 0.2s linear;
  justify-content: space-between;
  padding-left: 1rem;
}

  .iconDelete{
    position: relative;
    display: contents;
    vertical-align: middle;
    padding-right: 2rem;
    float: right;
    color:rgba(204, 194, 194, 0.904);
  }
  .iconAddTodo{
    display: contents;
    color: rgba(204, 194, 194, 0.904);
    
  }
  .circle {
    padding-right: 1.6rem;
  }


.sidebar .menuitem:hover,
.sidebar .menuitem.is-active {
	color: #3bba9c;
	border-right: 0.3rem solid #3bba9c;
  border-left: 1px solid #fff;
  box-shadow: 0 0 4px rgba(225, 225, 225, 0.5);
} 

.sidebar .menuitem:hover {
	border-right: 0.3rem solid #3bba9c;
}

@media only screen and (max-width: 62.25em) {
  .sidebar {
    width: 45px;
    height: 70vh; 
    background: rgba(225, 225, 225, 0.1);
    box-shadow: 0 0 6px rgba(225, 225, 225, 0.5);
   
    position:fixed;
    top: 0;
    overflow: hidden;
    
    transition: 0.6s width linear;
    z-index: 1000;
  white-space: nowrap;
  -webkit-transition:width .05s linear;
  transition:width .05s linear;
  
  } 

  .maincontent {
    width: 70%;
    margin-left: 10rem;
  }
  .sidebar:hover {
    width: 250px;
    overflow: visible;
    background-color: rgb(46, 45, 45);
    padding: 1rem;
  }
  
}
@media only screen and (max-width: 51.25em){
  .maincontent {
    width: 70%;
    margin-left: 6rem;
  }
  .sidebar {
    left: 2.5rem;
    transition: 0.6s width linear;
  }
}
@media only screen and (max-width: 26.625em){
    .maincontent {
      width: 70%;
      margin-left: 16rem;
  
    }
    .sidebar {
      left: 2.5rem;
    }
}

@media only screen and (min-width: 15.5em){
  .maincontent {
    width: 70%;
    margin-left: 2rem;
  }
  .sidebar {
    left: 3.5rem;
    top: 12rem;
  }
}
@media only screen and (min-width: 53em) {
  .sidebar {
    max-width: 23%;
    left: 6.5rem;
  }

  .maincontent {
    width: 80%;
    margin-left: 5rem;
  }

  
}
@media only screen and (min-width: 59.75em){
  .maincontent {
    margin-left:2rem;
  }
}
.maincontent {
    flex: 1 1 0; 
    max-width: 80%;
    height: 70vh;
    padding: 2rem 1rem;
    background-color: rgba(93, 158, 158, 0.09);
    backdrop-filter: blur(0.4rem);
    box-shadow: 0 0 6px rgba(225, 225, 225, 0.5);
}

.todoListItem {
    background-color: rgba(204, 194, 194, 0.904);
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    padding-left: 3rem;
    padding-right: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.newTaskForm {
  display: flex;
  background-color: rgba(0,0,0,0.15);
  padding: 0.7rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  justify-content: space-between;
  width: 90%; 
  align-items: center;
}


.addbutton {
  display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 free";
    font: var(--fa-font-solid);
    content: "\f007";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
}

.newTaskInput {
  flex: 1 1 0%;
  background-color: rgba(0,0,0,0.15);
  padding: 1rem;
  border-radius: 1rem;
	margin-right: 1rem;
  margin-left: 1rem;
	color: #FFF;
	font-size: 1.25rem;
}
.newTaskInput::placeholder {
  color: rgba(225, 225, 225, 0.5);
}

.searchTodo {
  display: flex;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-left: 0rem;
  justify-content: space-between;
  width: 85%; 
  align-items: center;
}

.search {
  flex: 1 1 0%;
  background-color: rgba(0,0,0,0.15);
  padding: 1rem;
  border-radius: 1rem;
	margin-right: 1rem;
  margin-left: 1rem;
	color: #FFF;
	font-size: 1.25rem;
  width: 13rem; 
}
.search::placeholder {
  color: rgba(225, 225, 225, 0.5);
}
.newListForm {

  display: flex;
  padding: 0.7rem;
  border-radius: 1rem;
  margin-top: 22rem;
  bottom: 14.5rem;
  margin-right: 2rem;
  margin-left: 0rem;
  justify-content: space-between;
  width: 22rem; 
  align-items: center;
  position: absolute;
}

.newListInput {
  flex: 1 1 0%;
  background-color: rgba(0,0,0,0.15);
  padding: 1rem;
  border-radius: 1rem;
	margin-right: 1rem;
  margin-left: 1rem;
	color: #FFF;
	font-size: 1.25rem;
  max-width: 17rem;
}
.newListInput::placeholder {
  color: rgba(225, 225, 225, 0.5);
}


